# For wrangler local dev

PROFILE_NAME = 'release'

SHOULD_INCLUDE_UNRELEASED_ASSETS = '0'

PROCENV_TK_HOARD_SUB_MODE = 'hoardLocalOnly'

TURSO_DATABASE_URL = "libsql://xxx.turso.io"
TURSO_AUTH_TOKEN = "xxx"
HTTP_PROXY = "http://127.0.0.1:8118"
DEBUG = "proxy-agent,knex:query"

MARKDOWNDB_DB_PATH = 'markdown.db'

HOARD_DB_BATCH_DEBUG_MODE = "0"

HOARD_DATA_UPDATE_CALLBACK_URL_LIST = "http://127.0.0.1:8568/admin/refreshSiteVersion;http://127.0.0.1:8569/admin/refreshSiteVersion;http://127.0.0.1:8571/admin/refreshSiteVersion;https://mysite.dev/admin/refreshSiteVersion"
HOARD_DATA_UPDATE_RECACHE_URL_LIST = "http://127.0.0.1:8568/precache;http://127.0.0.1:8569/precache;http://127.0.0.1:8571/precache;https://mysite.dev/precache"

TELEGRAM_API_ID = "11111"
TELEGRAM_API_HASH = "xxxxxx"
# socks
TELEGRAM_PROXY_PORT = "1080"
# SHOULD_HOARD_DROP_REMOTE_META_META = "1"
# SHOULD_HOARD_DROP_REMOTE_FILES_TABLE_INSTEAD_OF_VIEW = "1"

TELEGRAM_HOARD_DISABLE = '0'
# optional
# TELEGRAM_HOARD_DEST_BASE_PATH = "/path/to/tg_hoard_dest"
# gram.js forces the dir in cwd, so only the name can be customized...
TELEGRAM_HOARD_SESSION_DIR_NAME = "tg_session"
TELEGRAM_RELEASE_HOARD_DEST_BASE_PATH = "/path/to/tg_rel_hoard_dest"
TELEGRAM_HOARD_TRIGGERING_REPLY_PREFIX = 'pub'

NODE_LOCAL_FS_LIVE_ASSET_BASE_PATH = "..../liveAsset"
NODE_LOCAL_FS_STATIC_ASSET_BASE_PATH = "..../staticAsset"
NODE_STATIC_GEN_BASE_PATH = "./data/staticGen"
NODE_CLOUD_RT_LISTEN_HOST = '127.0.0.1'
NODE_CLOUD_RT_LISTEN_PORT = '8571'
NODE_LOCAL_FS_RT_LISTEN_HOST = '127.0.0.1'
NODE_LOCAL_FS_RT_LISTEN_PORT = '8569'

HEAVY_ASSET_WEB_REDIR_URL_PREFIX = "https://my.static.asset.site/sub/path/"

HOARD_FILE_SYNC_RELATED_DISABLE = '0'

HOARD_MULTI_TARGET_SYNC_BASE_DIR = 'path/to/xxx'

HOARD_RCLONE_CONFIG_TK_HOARD_HEAVY_SYNC_TYPE = 'xxx'
HOARD_RCLONE_CONFIG_TK_HOARD_HEAVY_SYNC_PROVIDER = 'xxx'
HOARD_RCLONE_CONFIG_TK_HOARD_HEAVY_SYNC_ENV_AUTH = 'xxx'
HOARD_RCLONE_CONFIG_TK_HOARD_HEAVY_SYNC_ACCESS_KEY_ID = 'xxx'
HOARD_RCLONE_CONFIG_TK_HOARD_HEAVY_SYNC_SECRET_ACCESS_KEY = 'xxx'
HOARD_RCLONE_CONFIG_TK_HOARD_HEAVY_SYNC_ENDPOINT = 'https://xxx'
HOARD_RCLONE_CONFIG_TK_HOARD_HEAVY_SYNC_LOCATION_CONSTRAINT = 'xxx'
HOARD_RCLONE_CONFIG_TK_HOARD_HEAVY_SYNC_ACL = 'xxx'

HOARD_RCLONE_TK_HOARD_HEAVY_DEST_DIR = 'path/to/xxx'

HOARD_RCLONE_EXECUTABLE = 'path/to/rclone'

# UTC+8
PROCENV_HOARD_METADATA_DATE_TIMEZONE_OFFSET_MINUTE = '480'
# UTC+8
LIQUID_DATE_TIMEZONE_OFFSET_MINUTE = '480'

# HOARD_METADATA_FIELD_ALIAS_LIST = 'ref:groupType=ref&groupPrimaryLocator;bottomPostRef:groupType=bottomPostRef&groupPrimaryLocator;bpref:groupType=bottomPostRef&groupPrimaryLocator;repo:privateOneSidedGroupType=noBorderRef&privateOneSidedGroupPrimaryLocator;repost:privateOneSidedGroupType=noBorderRef&privateOneSidedGroupPrimaryLocator;thr:groupType=thread&groupPrimaryLocator;g:groupPrimaryLocator;sl:slugLocator&specifiedLocator;slug:slugLocator&specifiedLocator;tag:declaredTags;tags:declaredTags;tidbit:tidbits'


HOARD_GIT_LOCAL_LIVE_ASSET_BARE_REPO_PATH = '/path/to/repo.git'
HOARD_GIT_LOCAL_STATIC_GEN_BARE_REPO_PATH = '/path/to/static-gen-repo.git'

HOARD_GIT_LIVE_ASSET_REMOTE = 'ssh://xxx'
HOARD_GIT_STATIC_GEN_REMOTE = 'ssh://xxx2'

PROCENV_HOARD_MARKDOWNDB_FILES_JSON_PATH = '/path/to/.markdowndb/files.json'

PROCENV_CACHE_LRU_SQLITE_PATH = './lruCache.sqlite'
