# For wrangler local dev

TURSO_DATABASE_URL = "libsql://xxx.turso.io"
TURSO_AUTH_TOKEN = "xxx"
HTTP_PROXY = "http://127.0.0.1:8118"
DEBUG = "proxy-agent,knex:query"

HOARD_DB_BATCH_DEBUG_MODE = "0"

HOARD_DATA_UPDATE_CALLBACK_URL_LIST = "http://127.0.0.1:8568/admin/refreshSiteVersion;http://127.0.0.1:8569/admin/refreshSiteVersion;http://127.0.0.1:8571/admin/refreshSiteVersion;https://mysite.dev/admin/refreshSiteVersion"
HOARD_DATA_UPDATE_RECACHE_URL_LIST = "http://127.0.0.1:8568/precache;http://127.0.0.1:8569/precache;http://127.0.0.1:8571/precache;https://mysite.dev/precache"

TELEGRAM_API_ID = "11111"
TELEGRAM_API_HASH = "xxxxxx"
# socks
TELEGRAM_PROXY_PORT = "1080"
# SHOULD_HOARD_DROP_REMOTE_META_META = "1"
# SHOULD_HOARD_DROP_REMOTE_FILES_TABLE_INSTEAD_OF_VIEW = "1"

TELEGRAM_HOARD_DEST_ROOT_PATH = "/path/to/tg_hoard_dest"
TELEGRAM_PUB_HOARD_DEST_ROOT_PATH = "/path/to/tg_pub_hoard_dest"

NODE_LOCAL_FS_LIVE_ASSET_ROOT_PATH = "..../liveAsset"
NODE_LOCAL_FS_STATIC_ASSET_ROOT_PATH = "..../staticAsset"

NODE_CLOUD_RT_LISTEN_HOST = '127.0.0.1'
NODE_CLOUD_RT_LISTEN_PORT = '8571'
NODE_LOCAL_FS_RT_LISTEN_HOST = '127.0.0.1'
NODE_LOCAL_FS_RT_LISTEN_PORT = '8569'

HEAVY_ASSET_WEB_REDIR_URL_PREFIX = "https://my.static.asset.site/sub/path/"

HOARD_RCLONE_CONFIG_TK_HOARD_HEAVY_SYNC_TYPE = 'xxx'
HOARD_RCLONE_CONFIG_TK_HOARD_HEAVY_SYNC_PROVIDER = 'xxx'
HOARD_RCLONE_CONFIG_TK_HOARD_HEAVY_SYNC_ENV_AUTH = 'xxx'
HOARD_RCLONE_CONFIG_TK_HOARD_HEAVY_SYNC_ACCESS_KEY_ID = 'xxx'
HOARD_RCLONE_CONFIG_TK_HOARD_HEAVY_SYNC_SECRET_ACCESS_KEY = 'xxx'
HOARD_RCLONE_CONFIG_TK_HOARD_HEAVY_SYNC_ENDPOINT = 'https://xxx'
HOARD_RCLONE_CONFIG_TK_HOARD_HEAVY_SYNC_LOCATION_CONSTRAINT = 'xxx'
HOARD_RCLONE_CONFIG_TK_HOARD_HEAVY_SYNC_ACL = 'xxx'

HOARD_RCLONE_TK_HOARD_HEAVY_SOURCE_DIR = 'path/to/xxx'
HOARD_RCLONE_TK_HOARD_HEAVY_DEST_DIR = 'path/to/xxx'

HOARD_RCLONE_EXECUTABLE = 'path/to/rclone'

# UTC+8
PROCENV_HOARD_METADATA_DATE_TIMEZONE_OFFSET_MINUTE = '480'

# HOARD_METADATA_FIELD_ALIAS_LIST = 'ref:groupType=ref&groupPrimaryLocator;topRef:groupType=topRef&groupPrimaryLocator;tref:groupType=topRef&groupPrimaryLocator;thr:groupType=thread&groupPrimaryLocator;g:groupPrimaryLocator;sl:slugLocator&specifiedLocator;slug:slugLocator&specifiedLocator;tag:declaredTags;tags:declaredTags'

