fly.toml
Dockerfile.fly
.dockerignore
node_modules
.git
data
.markdowndb
cfDist
nodeDist
extDist
thirdparty/**/node_modules
.dev.vars*
!.dev.vars.example
.env*
!.env.example
.wrangler/
markdown.db
*markdown*.db
tg_session
liveAsset

thirdparty/cloudflare_workers-sdk/**
!thirdparty/cloudflare_workers-sdk/packages/miniflare/**
thirdparty/cloudflare_workers-sdk/packages/miniflare/node_modules
thirdparty/cloudflare_workers-sdk/packages/miniflare/node_modules/**

*lruCache*.sqlite
