[submodule "markdowndb"]
	path = thirdparty/markdowndb
	url = https://github.com/datopian/markdowndb
[submodule "thirdparty/libsql_isomorphic-ts"]
	path = thirdparty/libsql_isomorphic-ts
	url = https://github.com/libsql/isomorphic-ts
[submodule "thirdparty/cloudflare_workers-sdk"]
	path = thirdparty/cloudflare_workers-sdk
	url = https://github.com/cloudflare/workers-sdk
[submodule "thirdparty/telegram"]
	path = thirdparty/telegram
	url = https://github.com/gram-js/gramjs
