[submodule "markdowndb"]
	path = thirdparty/markdowndb
	url = git@github.com:ProjectKoto/markdowndb.git
[submodule "thirdparty/libsql_isomorphic-ts"]
	path = thirdparty/libsql_isomorphic-ts
	url = git@github.com:ProjectKoto/isomorphic-ts.git
[submodule "thirdparty/cloudflare_workers-sdk"]
	path = thirdparty/cloudflare_workers-sdk
	url = git@github.com:ProjectKoto/workers-sdk.git
[submodule "thirdparty/telegram"]
	path = thirdparty/telegram
	url = git@github.com:ProjectKoto/gramjs.git
[submodule "thirdparty/rclone.js"]
	path = thirdparty/rclone.js
	url = git@github.com:ProjectKoto/rclone.js.git
[submodule "thirdparty/git-sync"]
	path = thirdparty/git-sync
	url = git@github.com:ProjectKoto/git-sync.git
